
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: hsl(30, 38%, 92%);
}

body{
    font-size: 1rem;
    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}

img{
    display: block;
    max-width: 100%;
    max-height: 400px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.nowrap{
    white-space: nowrap;
}

.product{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid black;
    border-radius: 10px;
    max-width: 500px;
   background-color: white;
}

.product__info{
   display: grid;
   gap: 1rem;
   padding: 1rem;
}

.product__title{
    letter-spacing: 0.5rem;
    opacity: 0.5;
}

.product__name{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 2rem;
}

.product__details{
    opacity: 0.6;
}

.product__price{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.product__current_price{
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-weight: 800;
}

.product__original__price{
    text-decoration: line-through;
    opacity: 0.5;
}

.product__cart{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:hsl(158, 36%, 37%) ;
    color: white;
    border-radius: 10px;
    padding: 0.5rem;
}

.product__cart h3{
    display: flex;
    gap: 0.5rem;
}

.product__cart:hover{
    background-color: darkgreen;
}

@media screen and (max-width:940px) {
    .product{
        display: grid;
    }

    img{
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }
}
